/* ************************** */
/* ********* TITRES ********* */
/* ************************** */

h1 {
    font-size: 50px;
    color: black;
    font-family: "Segoe Print", Arial;
    font-weight: bold;
}

h2 {
    font-size: 45px;
    color: black;
    font-family: "Segoe Print", Arial;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    color: black;
    font-family: "Segoe Print", Arial;
    font-weight: bold;
}

h4 {
    font-size: 35px;
    color: black;
    font-family: "Segoe Print", Arial;
    font-weight: bold;
}

h5 {
    font-size: 30px;
    color: black;
    font-family: "Segoe Print", Arial;
    font-weight: bold;
}

h6 {
    font-size: 25px;
    color: black;
    font-family: "Segoe Print", Arial;
    font-weight: bold;
}

/* ************************* */
/* ****** SOUS-TITRES ****** */
/* ************************* */

h1 small {
    font-size: 45px;
    color: grey;
    font-family: "Segoe Print", Arial;
    font-style: italic;
}

h2 small {
    font-size: 40px;
    color: grey;
    font-family: "Segoe Print", Arial;
    font-style: italic;
}

h3 small {
    font-size: 35px;
    color: grey;
    font-family: "Segoe Print", Arial;
    font-style: italic;
}

h4 small {
    font-size: 30px;
    color: grey;
    font-family: "Segoe Print", Arial;
    font-style: italic;
}

h5 small {
    font-size: 25px;
    color: grey;
    font-family: "Segoe Print", Arial;
    font-style: italic;
}

h6 small {
    font-size: 20px;
    color: grey;
    font-family: "Segoe Print", Arial;
    font-style: italic;
}

/* ************************* */
/* ****** PARAGRAPHES ****** */
/* ************************* */

body {
    margin: 0 ;
    font-family: "Segoe Print", Arial;
    color: black;
}

p {
    margin-bottom: 35px;
}

/* ************************ */
/* ALIGNEMENTS ET TRANSFORM */
/* ************************ */

.right {
    text-align: right ;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.maj {
    text-transform: uppercase;
}

.min {
    text-transform: lowercase;
}

/* ************************** */
/* ******** BOUTTONS ******** */
/* ************************** */

.btn {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: "Segoe Print";
    padding: 5px;
    color: black;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
        background-color: lightgrey;
        font-weight: bold;
}

.btn-small {
    font-size: 8px ;
}

.btn-big {
    font-size: 21px ;
    border-radius: 10px;
    padding: 10px;
}

.btn-red {
    background-color: #DC143C;
}
    
.btn-red:hover {
        background-color: lightcoral ;
}

.btn-blue {
    background-color: #6495ED;
}

.btn-blue:hover {
        background-color: lightblue;
}


.btn-green {
    background-color: #3CB371;
}

.btn-green:hover {
        background-color: lightgreen;
    }


/* ************************ */
/* ********* MENU ********* */
/* ************************ */

.menu {
    height: 100px;
    background-color: lightgrey;
}

.menu ul {
        padding: 0;
        margin: 0;
}

.menu ul li {
            float: left;
            display: inline-block;
            padding: 22px;
            font-size: 25px;
}

.menu ul li:hover {
                border: 6px solid grey;
                color: grey;
}

.menu ul li:first-child {
                    margin-left: 20px;
}

/* ************************* */
/* *** MESSAGES D'ALERTE *** */
/* ************************* */

.alert {
    border: 1px solid;
    margin: 10px 0px 10px 30px ;
    padding: 15px 0px 15px 30px;
    width: 50% ;
    border-radius: 10px ;
    font-weight: bold;
    font-style: italic;
}

.alert-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.alert-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.alert-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.alert-error {
    color: #D8000C;
    background-color: #FFBABA;
}

/* ************************** */
/* ********* GRILLE ********* */
/* ************************** */

.row {
    width: 100% ;
    margin-bottom: 2% ;
}

.row:before, .row:after {
    content: " " ;
    display: table ;
}

.row:after {
    clear: both ;
}

.row > div {
    margin-right: 2% ;
    float: left ;
}

.row > .dernier {
    margin-right: 0% ;
}

.row > .first {
    margin-right : 0% ;
}

.colonne1 {
    width: 10.75% ;
}
.colonne2 {
    width: 23.5% ;
}
.colonne3 {
    width: 36.25% ;
}
.colonne4 {
    width: 49% ;
}
.colonne5 {
    width: 61.75% ;
}
.colonne6 {
    width: 74.5%
}
.colonne7 {
    width: 85.5% ;
}
.colonne8 {
    width: 100% ;
}

.offset1 {
    width: 12.75% ;
}
.offset2 {
    width: 25.5% ;
}
.offset3 {
    width: 38.25% ;
}
.offset4 {
    width: 51% ;
}
.offset5 {
    width: 63.75% ;
}
.offset6 {
    width: 76.5% ;
}
.offset7 {
    width: 89.25% ;
}